{% extends 'contactos/base.html' %}

{% block Encabezado %}
    Borrar Contactos
{% endblock Encabezado %}

{% block Contenido %}
    <div class="panel-body">

        {# Muestra un mensaje de alerta #}
        <div class="alert alert-danger">
            "{{ contacto }}" será eliminado de la lista de contactos, esta seguro?</b>
        </div>

        {% load bootstrap %}

        <form action="{% url 'nspContactos:urlBorrar' pk=contacto.id %}" method="POST" role="form">
            {% csrf_token %}

            <input type="submit" value="Eliminar" class="btn btn-danger">
            <a href="{% url 'nspContactos:urlListar' %}" class="btn btn-success">Cancelar</a>
        </form>
    </div>
{% endblock Contenido %}