{% extends 'contactos/base.html' %}


{% block Encabezado %}
    {# Cambiamos el encabezado del formulario #}
    {% if contacto.id %}
        Editar Contacto
    {% else %}
        Nuevo Contacto
    {% endif %}
{% endblock Encabezado %}


{% block Contenido %}
    {% comment %}
    Usamos el procesador de contexto "action"
    definido en el contexto de las vistas de
    NuevoContacto y EditarContacto, para
    redireccionar de acuerdo a la vista invocada
    {% endcomment %}

    <div class="panel-body">
        {% load bootstrap %}

        <form action="{{ action }}" method="POST" role="form">
        {#<form action="{% url 'nspContactos:urlNuevo' %}" method="POST">#}
            {% csrf_token %}

            <div class="form-group">
                {{ form|bootstrap }}
            </div>

            <input type="submit" value="Guardar" class="btn btn-success">

            {# Si se está editando un contacto #}
            {% if contacto.id %}
                <a href="{% url 'nspContactos:urlEditarDirecciones' pk=contacto.id %}" class="btn btn-primary">Direcciones</a>
                <a href="{% url 'nspContactos:urlBorrar' pk=contacto.id %}" class="btn btn-danger">Eliminar</a>
            {% endif %}

            <a href="{% url 'nspContactos:urlListar' %}" class="btn btn-warning">Cancelar</a>
        </form>
    </div>
{% endblock Contenido %}